.header {
   padding-top: 45px;
   display: flex;
   align-items: center;
   &-logo {
      margin-right: 120px;
   }
   &-auth {
      margin-left: auto;
   }
   &-menu {
      display: flex;
      align-items: center;
      list-style: none;
   }
   &-menu-link {
      color: $gray-dark;
      transition: color 0.25s ease-in-out;
      &:hover {
         color: $primary-color;
      }
   }
   .menu-toggle {
      font-size: 20px;
      margin-left: 15px;
   }
   @media screen and (min-width: 1024px) {
      &-menu-item:not(:first-child) {
         margin-left: 75px;
      }
      .menu-toggle {
         display: none;
      }
   }
   
   @media screen and (max-width: 1279.98px) {
      &-logo {
         margin-right: 0;
      }
      &-menu {
         margin: 0 auto;
      }
      &-auth {
         margin-left: 0;
      }
   }
   @media screen and (max-width: 1023.98px) {
      &-menu {
         position: fixed;
         right: 0;
         top: 0;
         bottom: 0;
         width: 80%;
         max-width: 300px;
         background-color: white;
         display: block;
         box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
         z-index: 9999;
         padding: 50px 20px;
         border-radius: 20px 0 0 20px;
         transform: translateX(110%);
         transition: transform 0.35s ease-in-out;
      }
      &-menu.is-active {
         transform: translateX(0);
      }
      &-menu-link {
         display: block;
         padding: 20px;
         border-radius: 10px;
         &:hover {
            color: white;
            background-color: $primary-color;
         }
      }
      &-auth {
         margin-left: auto;
      }
   }
   @media screen and (max-width: 767.98px) {
      padding-top: 20px;
      &-logo img {
         max-width: 90px;
      }
   }
}

