.intro {
   padding-top: 120px;
   padding-bottom: 160px;
   display: flex;
   align-items: center;
   & > * {
      width: 50%;
   }
   &-content {
      padding-right: 130px;
   }
   &-desc {
      margin-bottom: 40px;
      margin-top: 30px;
   }
   @media screen and (max-width: 1023.98px) {
      &-heading {
         span {
            display: unset;
         }
      }
      &-content {
         padding-right: 20px;
      }
   }
   @media screen and (max-width: 767.98px) {
      padding-top: 80px;
      padding-bottom: 80px;
      display: block;
      & > * {
         width: 100%;
      }
      &-content {
         margin-bottom: 35px;
      }
      &-heading {
         font-size: 35px;
      }
   }
}